@import '../../Variables.scss';
@import '../../Mixins.scss';

.header {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  height: 56px;
  padding: 0 24px;
  background: $ml-yellow;
  color: $ml-black;
  margin-bottom: 16px;
  .header__innerWrapper {
    @include flexbox;
    @include align-items(center);
    width: 100%;
    max-width: $max-content-width;
    .header__logo {
      margin-right: 24px;
    }
  }
}
