@import '../../Variables.scss';
@import '../../Mixins.scss';

.searchBox {
  @include flexbox();
  @include flex-grow(1);
  .searchBox__searchInput {
    @include flex-grow(1);
    @include border-radii(4px, 0px, 0px, 4px);
    box-sizing: border-box;
    color: $ml-grey-hue1;
    padding: 8px;
    border: none;
    outline: none;
    font-size: 18px;
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $ml-grey-hue1;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $ml-grey-hue1;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $ml-grey-hue1;
    }
  }
  .searchButton {
    cursor: pointer;
    border: none;
    width: 40px;
    background-color: $ml-grey-hue2;
    @include border-radii(0, 4px, 4px, 0);
  }
}
