@import '../../Variables.scss';
@import '../../Mixins.scss';
.breadCrumbs {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  box-sizing: border-box;
  margin-bottom: 16px;
  .breadCrumbs-innerWrapper {
    @include flexbox;
    @include justify-content(flex-start);
    margin: 0 16px;
    width: 100%;
    max-width: $max-content-width;
    .breadCrumbs-nav {
      @include flexbox;
      .breadCrumbs__item {
        @include flexbox;
        @include align-items(center);
        color: $ml-grey-hue1;
        font-weight: 300;
        font-size: 14px;
        &:last-child {
          .breadCrumbs__rightArrow {
            display: none;
          }
        }
        .breadCrumbs__rightArrow {
          fill: $ml-grey-hue1;
          width: 16px;
          height: 16px;
          margin: 0 4px;
        }
      }
    }
  }
}
