@import '../../Variables.scss';
@import '../../Mixins.scss';

.results {
  .results-innerWrapper {
    @include innerWrapper(16px);
    .result-list {
      list-style: none;
      .result-item {
        &:not(:last-child) {
          padding-bottom: 16px;
          margin-bottom: 16px;
          border-bottom: 1px solid $ml-grey-hue2;
        }
        .item {
          color: $ml-grey;
          font-weight: 300;
          @include flexbox;
          @include justify-content(space-between);
          @include align-items(flex-start);
          .item-image {
            width: 180px;
            height: 180px;
            margin-right: 16px;
            cursor: pointer;
            .item__image {
              width: 100%;
              height: auto;
              @include border-radius(4px);
            }
          }
          .item-info {
            @include flexbox;
            @include flex-direction(column);
            @include align-items(flex-start);
            @include flex-grow(1);
            .item__title {
              font-size: 18px;
              font-weight: 300;
            }
          }
          .item__address {
            font-size: 12px;
            font-style: normal;
          }
        }
      }
    }
  }
}
