@import '../../Variables.scss';
@import '../../Mixins.scss';

.details {
  .details-innerWrapper {
    font-weight: 300;
    color: $ml-grey;
    @include innerWrapper(32px);
    @include flexbox;
    @include justify-content(space-between);
    @media screen and (max-width: $break-mobile) {
      flex-direction: column;
      align-items: center;
    }
    .details-content {
      width: 66%;
      @media screen and (max-width: $break-mobile) {
        width: 100%;
      }
      .details-content__image {
        max-width: 680px;
        width: 100%;
        height: auto;
      }
      .details-content-description {
        @include flexbox;
        @include flex-direction(column);
        @include align-items(flex-start);
        .description__title {
          font-size: 28px;
          font-weight: 200;
          margin: 32px 0;
        }
        .description__content {
          font-size: 16px;
          color: $ml-grey-hue1;
        }
      }
    }
    .details-info {
      width: 33%;
      @media screen and (max-width: $break-mobile) {
        width: 100%;
      }
      .condition-sold {
        font-size: 14px;
        margin-bottom: 16px;
      }
      .details__title {
        font-size: 24px;
        margin-bottom: 32px;
        font-weight: 400;
      }
      .item-price {
        .item__price {
          font-size: 46px;
        }
      }
    }
  }
}
