@import '../../Variables.scss';
@import '../../Mixins.scss';

.button {
  outline: none;
  border: none;
  cursor: pointer;
  @include transition(background-color 0.3s ease);
  &.button__searchButton {
    width: 40px;
    background-color: $ml-grey-hue2;
    @include border-radii(0, 4px, 4px, 0);
    &:hover {
      background-color: darken($ml-grey-hue2, 10%);
    }
  }
}
