@import './Variables.scss';
@import './Mixins.scss';
@import './Reset.scss';

.app {
  min-height: 100vh;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  background-color: $ml-grey-hue2;
  @include flexbox();
  @include flex-direction(column);
  .content-wrapper {
    @include flexbox;
    @include justify-content(center);
    margin-bottom: 56px;
  }
  .btn {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    @include border-radius(6px);
    cursor: pointer;
    color: #fff;
    background-color: $ml-blue;
    margin-top: 32px;
    height: 32px;
    width: 100%;
    font-size: 16px;
  }
}
