@import '../../Variables.scss';
@import '../../Mixins.scss';
.item-price {
  margin-bottom: 32px;
  .item__price {
    font-size: 24px;
  }
  .item__freeShipping {
    margin-left: 8px;
    width: 16px;
    height: 16px;
  }
}
.item-price--styled {
  @include flexbox;
  @include align-items(flex-start);
  .item__price {
    font-size: 46px;
  }
  .item__decimals {
    font-size: 12px;
  }
}
